:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}
h2 {
  text-align: center;
  margin-top: 0.2em;
  margin-bottom: 0em;
  padding: 0.2em;
}

form {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.containerItem {
  padding: 0.6em;
  margin: 0.4em;
  border: 1px solid white;
  border-radius: 5%;
}
.containerPizza {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 180px;
  max-width: 360px;
  padding: 0.6em 1.2em;
}
.containerPizza > button {
  width: fit-content;
  align-self: center;
  margin-top: 1em;
}

.inputLine {
  display: flex;
  justify-content: space-between;
}

.inputLine > label {
  padding: 0.1em;
  margin-right: 0.2em;
}

input[type="submit"] {
  margin-top: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
